In [4]:
import numpy   as np
import pandas  as pd
import sklearn

In [5]:
!ls data

Xte0.csv       Xte1_mat50.csv Xtr0.csv       Xtr1_mat50.csv Ytr0.csv
Xte0_mat50.csv Xte2.csv       Xtr0_mat50.csv Xtr2.csv       Ytr1.csv
Xte1.csv       Xte2_mat50.csv Xtr1.csv       Xtr2_mat50.csv Ytr2.csv

## Datset: [Promoter Gene Sequences](https://archive.ics.uci.edu/ml/datasets/Molecular+Biology+(Promoter+Gene+Sequences))

In [14]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'
names = ['Class', 'Id', 'Sequence']
data = pd.read_csv(url, names=names)
data = data.set_index('Id')
data.head()

          Class                                           Sequence
Id
S10           +  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
AMPC          +  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
AROH          +  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
DEOP2         +  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
LEU1_TRNA     +  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

# Clean

In [21]:
data.Sequence = data.Sequence.replace("\t", "", regex=True)

In [26]:
data["SequenceLen"] = data.Sequence.str.len()

In [27]:
data.head()

,Class,Sequence,SequenceLen
Id,,,
S10,+,tactagcaatacgcttgcgttcggtggttaagtatgtataatgcgc...,57
AMPC,+,tgctatcctgacagttgtcacgctgattggtgtcgttacaatctaa...,57
AROH,+,gtactagagaactagtgcattagcttatttttttgttatcatgcta...,57
DEOP2,+,aattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaata...,57
LEU1_TRNA,+,tcgataattaactattgacgaaaagctgaaaaccactagaatgcgc...,57

In [15]:
len(data)

106

In [10]:
data.id.value_counts()

 217         1
 244         1
 630         1
RPOB         1
RRNX_P1      1
            ..
ILVGEDA      1
RRNG_P1      1
1384         1
BIOA         1
LEU1_TRNA    1
Name: id, Length: 106, dtype: int64